<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        <div id="main-first" class="sidebar">
				<h2>Sign up for our newsletter.</h2>
				<p>Quisque elit nunc, porttitor quis rhoncus non, tincidunt et quam.</p>
				<input type="text">
				<a class="cta-sidebar" href="#">Sign Up »</a>
		</div>
        <div id="main-second">
				<h2>View Our Schedule</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales lorem nisl, ut elementum nisl ornare quis. Quisque tristique elit at tincidunt suscipit.</p>
				<img src="images/calendar.jpg" alt="">
		</div>
        <div id="main-third" class="sidebar">
				<h2>Read the latest from the blog.</h2>
				<p>Quisque elit nunc, porttitor quis rhoncus non, tincidunt et quam. Donec rhoncus urna non lectus consequat facilisis. Sed nunc quam, tempor in consequat nec, elementum ut ipsum. Cras a dolor in mi fermentum pretium.</p>
				<a class="cta-sidebar" href="#">Read More »</a>
		</div>
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
